.reg-nav{
    width : 100% ;
    /* background : #333 ; */
    color : #fff ;
    padding : 4px 0 ;
    position : fixed ;
    top : 0 ;
    left : 0 ;
    background : #212ea0 ;
}

.container1{
    /* border : 12px solid black ; */
    color : #000 ;
    position : absolute ;
    top : 25% ;
    left : 38% ;
}

.container1 h1{
    display: inline-block ;
    margin: 0 70px;
    font-size : 4vw ;
    border-bottom : 5px solid #212ea0 ;
    margin-bottom : 2vw ;
    padding-bottom : 13px 0 ;
}

.box{
    width : 100% ;
    border-bottom : 2px solid #212ea0 ;
}

.box input{
    background : none ;
    width : 75% ;
    /* border : 2px solid purple ; */
    margin : 5px 23px ;
    padding : 14px 10px ;
    font-size : 20px ;
    /* font-color : white ; */
    border : none ;
    outline : none ;
    color : #000 ;
}

.btn-prop{
    margin : 13px 90px ;
}

.para{
    display : flex ;
    color : #000 ;
    gap : 5px ;
}


/* media query */



@media (max-width : 400px){
    .container1{
        margin-left : -122px ;
    }

    .box{
        width : 75% ;
        margin-left : 7vw ;
    }

    /* .container1 h1{
        padding : 5vw 19vw ;
        font-size : 4vh ; 
    } */

    #heading{
        font-size : 46px ;
        margin : 7px 93px ;
    }
    .para{
        align-items : center ;
        justify-content : center ;
    }
    .btn.dark-btn.btn-prop{
        padding : 14px 40px ;
    }

}